# Project Files
.idea/
*.iml

# Dart Files
.dart_tool/
build/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firebase-debug.*.log*

# Firebase cache
.firebase/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage

# dotenv environment variables file
.env

# FVM Version Cache
.fvm/

# Cursor related
.cursor/
cursorrules